USE [master]
GO
/****** Object:  Database [Invoicing]    Script Date: 30/04/2014 16.54.05 ******/
CREATE DATABASE [Invoicing]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Invoicing', FILENAME = N'D:\Microsoft SQL Server\MSSQL11.SQL2012R2EXPRESS\MSSQL\DATA\Invoicing.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Invoicing_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL11.SQL2012R2EXPRESS\MSSQL\DATA\Invoicing_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Invoicing].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Invoicing]
GO
/****** Object:  User [invoicing]    Script Date: 30/04/2014 16.54.05 ******/
CREATE USER [invoicing] FOR LOGIN [invoicing] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [invoicing]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [invoicing]
GO
/****** Object:  Table [dbo].[InvoiceHeaders]    Script Date: 30/04/2014 16.54.05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceHeaders](
	[InvoiceHeaderId] [int] IDENTITY(1,1) NOT NULL,
	[Number] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[CustomerName] [nvarchar](64) NOT NULL,
 CONSTRAINT [PK_InvoiceHeaders] PRIMARY KEY CLUSTERED 
(
	[InvoiceHeaderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[InvoiceItems]    Script Date: 30/04/2014 16.54.05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceItems](
	[InvoiceItemId] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceHeaderId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Description] [nvarchar](64) NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_InvoiceItems] PRIMARY KEY CLUSTERED 
(
	[InvoiceItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[InvoiceItems]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceItems_InvoiceHeaders] FOREIGN KEY([InvoiceHeaderId])
REFERENCES [dbo].[InvoiceHeaders] ([InvoiceHeaderId])
GO
ALTER TABLE [dbo].[InvoiceItems] CHECK CONSTRAINT [FK_InvoiceItems_InvoiceHeaders]
GO
USE [master]
GO
